body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: 
        linear-gradient(rgba(0, 128, 0, 0.5), rgba(0, 128, 0, 0.5)), 
        url('../public/map.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.title {
    font-size: 85px;
    color: white;
    animation: animationTitle 2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} 

@keyframes animationTitle {
    from {
        transform: rotateX(90deg);
    } to {
        transform: rotateX(0deg);
    }
}

.containerInput {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    margin: 20px 0;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.containerInput input {
    background-color: transparent;
    border: 2px solid #1d7965;
    font-size: 20px;
    color: #333;
    outline: none;
    margin-right: 8px;
    padding: 10px 15px;
    border-radius: 20px;
    transition: border 0.3s;
}

.containerInput input::placeholder {
    color: #aaa;
}

.containerInput input:focus {
    border-color: #02493e;
}

.buttonSearch {
    background-color: #1d7965;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.buttonSearch:hover {
    transform: scale(1.1);
    background-color: #02493e;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    width: 400px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.main h2 {
    margin: 18px 0;
    font-size: 28px;
    color: #1d7965;
}

.main span {
    margin-bottom: 12px;
    font-weight: bold;
    color: #555;
}

@media (max-width: 630px) {
    .title {
        font-size: 48px;
    }

    .main h2 {
        font-size: 25px;
    }

    .main {
        width: 80%;
        min-height: 225px;
    }
}
